services:
    traefik:
        image: traefik:v2.9
        container_name: devon-traefik
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
            - '8090:8080'
        environment:
            - TZ=Europe/Berlin
            - DEVON_HOME=${DEVON_HOME:-$HOME/.devon}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ${DEVON_HOME}/traefik/config/traefik.yaml:/etc/traefik/traefik.yaml:ro
            - devon-global-cache:/mnt/devon-global-cache
        command:
            - '--configFile=/etc/traefik/traefik.yaml'
            - '--providers.docker.endpoint=unix:///var/run/docker.sock'
            - '--providers.docker.network=devon'
            - '--providers.docker.exposedByDefault=false'
            - '--providers.docker.watch=true'
            - '--entrypoints.web.address=:80'
            - '--entrypoints.websecure.address=:443'
            - '--api.dashboard=true'
            - '--api.insecure=true'
        networks:
            - devon

volumes:
    devon-global-cache:

networks:
    devon:
        name: devon
        external: true
