api:
    dashboard: true
    insecure: true

entryPoints:
    web:
        address: ':80'
    websecure:
        address: ':443'

providers:
    docker:
        exposedByDefault: false
        network: devon
        endpoint: 'unix:///var/run/docker.sock'
    file:
        directory: /mnt/devon-global-cache/traefik/certs
        watch: true

tls:
    options:
        default:
            minVersion: VersionTLS12
    stores:
        default:
            defaultCertificate:
                certFile: /certs/{{DOMAIN}}.crt
                keyFile: /certs/{{DOMAIN}}.key
